/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	/******* SECTION MENU **********/

	.section-header.bg-header-slider>div>nav.navbar>div.container-fluid>div.navbar-header>a.navbar-brand {
	    display: block;
	    width: 100%;
	    height: 100%;
	}

	.navbar-collapse{
	  padding-top: 0px;
	}

	ul.nav.navbar-nav.nav-lists>li>a {
	    font-size: 18px;
	    padding-left: 25px;
	    padding-right: 25px;
	}

	ul.nav.navbar-nav.nav-lists {
		margin-left: 50px;
		padding-top: 10px;
	}

	.navbar-header {
	    width: 8%;
	}

	/******* END SECTION MENU **********/



	/******* SECTION TITLE PRINCIPAL **********/

	.section-header.bg-header-slider>div.container>.section-tiltes {
	    margin-top: 80px;
	}

	.section-header.bg-header-slider>div.container>.section-tiltes>h1 {    
	    font-size: 60px;
	    line-height: 80px;
	}

	.section-header.bg-header-slider>div.container>.section-tiltes>h2 {
	    font-size: 23.5px;
	    margin-top: 20px;
	    margin-bottom: 0px;
	}

	/******* END SECTION TITLE PRINCIPAL **********/



	/******* SECTION ABOUT US **********/

	.section-about-us {
	    padding-top: 60px;
	}

	.content-about-us>h1 {
	    font-size: 40px;
	    line-height: 50px;
	}

	.line-space-titles {
	    width: 150px;
	}

	.content-about-us>h2 {
	    font-size: 22px;
	    line-height: 30px;
	}

	.description-about-us>.content-about-us {
	    padding: 25px 80px 65px 80px;
	}

	.wrap-testimonial>.wrap-circle{
	  margin-top: 150px;
	}

	.data-testimonial {
	    padding: 20px 60px 20px;
	    top: 280px;
	} 	

	/******* END SECTION ABOUT US **********/



	/*******  SECTION SERVICES **********/

	.content-services-descript {
		padding: 60px 90px 220px 90px;
	    width: 38%;
	}

	.content-services-descript-blocks {
	    width: 62%;
	}

	/******* END SECTION SERVICES **********/


	/*******  SECTION CULTURE **********/


	.bg-culture{
	  height: 300px;
	  margin-top: -70px;
	}

	.bg-culture>h1 {
	    padding: 95px 200px 110px 200px;
	    font-size: 33px;
	}


	/******* END SECTION CULTURE **********/


	/*******  SECTION ABILITIES **********/

	.container>.content-abilities{
		padding-top: 60px;
	}

	.content-abilities>h1 {
	    font-size: 40px;
	    line-height: 50px;
	}

	.bg-skills{
	  background-size: 100% 100%;
	}

	.skilss {
	  width: 25%;
	}

	/******* END SECTION ABILITIES **********/
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	/******* SECTION MENU **********/

	ul.nav.navbar-nav.nav-lists>li>a {
	    padding-left: 40px;
	    padding-right: 40px;
	}

	ul.nav.navbar-nav.nav-lists {
		margin-left: 100px;
		padding-top: 20px;
	}

	/******* END SECTION MENU **********/



	/******* SECTION TITLE PRINCIPAL **********/

	.section-header.bg-header-slider>div.container>.section-tiltes>h2 {
	    font-size: 30px;
	}

	/******* END SECTION TITLE PRINCIPAL **********/


	/*******  SECTION CULTURE **********/

	.bg-culture>h1 {
	    padding: 120px 200px 110px 200px;
	}


	/******* END SECTION CULTURE **********/

	/*******  SECTION ABILITIES **********/

	.skilss {
	  width: 20%;
	}

	/******* END SECTION ABILITIES **********/
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	/******* SECTION MENU **********/

	ul.nav.navbar-nav.nav-lists>li>a {
	    padding-left: 45px;
	    padding-right: 45px;
	}

	ul.nav.navbar-nav.nav-lists {
		padding-top: 30px;
	}

	/******* END SECTION MENU **********/

	/******* SECTION TITLE PRINCIPAL **********/

	.section-header.bg-header-slider>div.container>.section-tiltes>h2 {
	    margin-top: 30px;
	}

	/******* END SECTION TITLE PRINCIPAL **********/



	/*******  SECTION ABILITIES **********/

	.skilss {
	  width: 16.6%;
	}

	/******* END SECTION ABILITIES **********/
}