/******* FONTS **********/

@font-face {
  font-family: 'Freight Sans Bold';
  src: url('../fonts/freight/Freight Sans Bold.eot');
  src: local('☺'), url('../fonts/freight/Freight Sans Bold.woff') format('woff'), url('../fonts/freight/Freight Sans Bold.ttf') format('truetype'), url('../fonts/freight/Freight Sans Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Freight Sans Light SC';
  src: url('../fonts/freight/Freight Sans Light SC.eot');
  src: local('☺'), url('../fonts/freight/Freight Sans Light SC.woff') format('woff'), url('../fonts/freight/Freight Sans Light SC.ttf') format('truetype'), url('../fonts/freight/Freight Sans Light SC.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Freight Sans Book SC';
  src: url('../fonts/freight/Freight Sans Book SC.eot');
  src: local('☺'), url('../fonts/freight/Freight Sans Book SC.woff') format('woff'), url('../fonts/freight/Freight Sans Book SC.ttf') format('truetype'), url('../fonts/freight/Freight Sans Book SC.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}




@font-face {
  font-family: 'Merriweather-LightIt';
  src: url('../fonts/merriweter/Merriweather-LightIt.eot');
  src: local('☺'), url('../fonts/merriweter/Merriweather-LightIt.woff') format('woff'), url('../fonts/merriweter/Merriweather-LightIt.ttf') format('truetype'), url('../fonts/merriweter/Merriweather-LightIt.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Merriweather-Regular';
  src: url('../fonts/merriweter/Merriweather-Regular.eot');
  src: local('☺'), url('../fonts/merriweter/Merriweather-Regular.woff') format('woff'), url('../fonts/merriweter/Merriweather-Regular.ttf') format('truetype'), url('../fonts/merriweter/Merriweather-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'PlayfairDisplaySC-Regular';
  src: url('../fonts/playdisplay/PlayfairDisplaySC-Regular.eot');
  src: local('☺'), url('../fonts/playdisplay/PlayfairDisplaySC-Regular.woff') format('woff'), url('../fonts/playdisplay/PlayfairDisplaySC-Regular.ttf') format('truetype'), url('../fonts/playdisplay/PlayfairDisplaySC-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'QuattrocentoSans-Bold';
  src: url('../fonts/queattocenter/QuattrocentoSans-Bold.eot');
  src: local('☺'), url('../fonts/queattocenter/QuattrocentoSans-Bold.woff') format('woff'), url('../fonts/queattocenter/QuattrocentoSans-Bold.ttf') format('truetype'), url('../fonts/queattocenter/QuattrocentoSans-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'QuattrocentoSans-Regular';
  src: url('../fonts/queattocenter/QuattrocentoSans-Regular.eot');
  src: local('☺'), url('../fonts/queattocenter/QuattrocentoSans-Regular.woff') format('woff'), url('../fonts/queattocenter/QuattrocentoSans-Regular.ttf') format('truetype'), url('../fonts/queattocenter/QuattrocentoSans-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


/******* END FONTS **********/


.section-header.bg-header-slider {
    padding-left: 0;
    padding-right: 0;
}

.bg-header-slider{
  background-image: url('../images/banner-avalogics01.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 400px;
  height: 100%;
}


/******* SECTION MENU **********/

.section-header.bg-header-slider>div>nav {
    border-radius: 0;
    background: transparent;
    border: 0;
}

.section-header.bg-header-slider>div>nav.navbar>div.container-fluid>div.navbar-header>a.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-collapse{
  border: none;
  box-shadow: none !important;
  padding-top: 30px;
}

ul.nav.navbar-nav.nav-lists>li>a {
    font-family: 'Freight Sans Bold';
    color: white;
    font-size: 18px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: transparent;
}

.navbar-header {
    margin-top: 20px;
}

/******* END SECTION MENU **********/



/******* SECTION TITLE PRINCIPAL **********/

.section-header.bg-header-slider>div.container>.section-tiltes {
    margin-top: 50px;
    color: white;
    text-align: center;
}

.section-header.bg-header-slider>div.container>.section-tiltes>h1 {    
    font-size: 40px;
    font-family: 'Freight Sans Bold';
    line-height: 45px;
}

.section-header.bg-header-slider>div.container>.section-tiltes>h2 {
    font-size: 20px;
    font-family: 'Freight Sans Book SC';
    color: #9098a8;
    margin-top: 15px;
    margin-bottom: 75px;
}



/******* END SECTION TITLE PRINCIPAL **********/


/******* SECTION ABOUT US **********/

.section-about-us {
    padding: 0;
    background: #ebebeb;
}

.wrap-number-section{
  background-image: url('../images/line-divide.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
}

.wrap-number-section>p {
    color: #a4a4a4;
    font-size: 13px;
}

p.title-wrap {
    margin-left: 50px;
}

.description-about-us>.content-about-us {
    background: white;
    padding: 2%;
}

.content-about-us>h1 {
    font-size: 36px;
    line-height: 39.6px;
    font-family: 'Freight Sans Bold';
    color: #000000;
}

.description-about-us>.content-about-us {
    background: white;
    padding: 25px 15px 65px 15px;
    z-index: 10;
    position: relative;
}

.line-space-titles {
    height: 2px;
    background: #a8a8a8;
    margin-top: 30px;
}

.content-about-us>h2 {
    color: #808080;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    font-family: 'Freight Sans Book SC';
    margin-top: 40px;
    margin-bottom: 50px;
}

.content-about-us>p {
    font-size: 16.5px;
    color: #808080;
    font-family: 'QuattrocentoSans-Regular';
    line-height: 26px;
}

.wrap-other-detalls {
    margin-top: 50px;    
    padding: 0;
}

.wrap-testimonial{
  height: 280px;
}

.wrap-testimonial>.wrap-circle{
  background-image: url('../images/rounded_twirl.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 150px;
  margin-top: 20px;
}

.data-testimonial {
    padding: 20px 60px 20px;
    position: absolute;
    top: 155px;
} 

span.comillas {
    font-size: 85px;
    color: #cfcfcf;
    line-height: 0;
    position: absolute;
}

.description-testimonial>h2 {
    color: #1f1f1f;
    font-size: 20px;
    line-height: 24px;
    font-family: 'Merriweather-LightIt';
}

.description-testimonial {
    margin-left: 10px;
}

.description-testimonial>p {
    color: #b1b1b1;
    font-size: 12px;
    font-family: 'Merriweather-Regular';
    margin-top: 15px;
}

.description-testimonial>p>span {
    color: #3d54a4;
}

.left-margin{
   margin-left: 35px;
}

/******* END SECTION ABOUT US **********/


/*******  SECTION PORTAFOLIO **********/

.container-fluid.descrip-proyects-all {
    padding: 0;
    background: #1c1d1f;
}

.descrip-proyects-all>.contain-proyects-top {
    background: #1c1d1f;
    padding: 80px 30px 50px 30px;
    top: -40px;
    position: relative;
    z-index: 9;
}

.data-detall-proyects>h1 {
    color: white;
    margin-top: 0;
    margin-bottom: 12px;
    font-family: 'Freight Sans Bold';
}

.data-detall-proyects>h4 {
    font-size: 15px;
    color: #4b4c4d;
    margin-bottom: 20px;
    font-family: 'Merriweather-LightIt';
}

.data-detall-proyects>p {
    color: #818182;
    font-size: 15px;
    line-height: 26px;
    font-family: 'QuattrocentoSans-Regular';
}

.data-number-proyects>.wrap-number-section.left-margin {
    float: right;
    margin-top: 90px;
}

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

.owl-pagination {
    display: none;
}

.item {
    position: relative;
    cursor: pointer;
    z-index: 10;
}

.item:hover {
    z-index: 9;
}

.item:hover>img{
    -webkit-transform: scale(1.1); */
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        /* -webkit-font-smoothing: antialiased; */
        /* -webkit-transform: scale(1.1); */
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        /* -webkit-font-smoothing: antialiased; */
        webkit-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear;
}

.caption-hover-descrip{
  display: none;
  webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.item:hover>.caption-hover-descrip {
    display: block !important;
    height: 100%;
    position: absolute;
    bottom: 0;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    padding: 50px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 100%;
    height: 100%;
}

.caption-hover-descrip>h2 {
    font-size: 22px;
    font-family: 'Freight Sans Bold';
    margin-top: 50px;
}

.caption-hover-descrip>p {
    font-size: 18px;
    font-family: 'QuattrocentoSans-Regular';
}

.circle-more {
    background: #4a7bbf;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 40px;
}

.circle-more>i {
    font-size: 30px;
    padding-top: 11px;
}


.owl-buttons {
    display: none;
}


/******* END  SECTION PORTAFOLIO **********/


/*******  SECTION SERVICES **********/

.content-services {
    text-align: center;
    padding-top: 4%;
}

.content-services>h1 {
    color: #000000;
    font-size: 40px;
    line-height: 50px;
    font-family: 'Freight Sans Bold';
    color: #000000;    
}

.content-services>h4 {
    color: #808080;
    font-size: 15px;
    font-family: 'Merriweather-LightIt';
}

.line-title-down-blue {
    background: #4a7bbf;
    height: 2px;
    width: 130px;
    margin: 0 auto;
    margin-top: 40px;
}

.container-fluid.section-servicies {
    padding: 0;
    margin-top: 80px;
}

.content-services-descript {
    padding: 40px 30px;
    text-align: left;
    z-index: 100;
    background: #ebebeb;
}

.content-services-descript>h1 {
    color: #000000;
    font-size: 33px;
    font-family: 'Freight Sans Bold';
    margin-top: 60px;
}

.container {
    padding: 0;
}

.container>div {
    padding: 0;
}

.content-services-descript-blocks {
    text-align: center;
}

.content-services-descript>.wrap-number-section.left-margin {
    margin-left: 0;
}

.content-services-descript>h3 {
    color: #4b4c4d;
    font-size: 18px;
    font-family: 'Merriweather-LightIt';
}

.content-services-descript>p {
    color: #818182;
    font-size: 15px;
    margin-top: 50px;
    font-family: 'QuattrocentoSans-Regular';
    line-height: 25px;
}

.services-descript-blocks>img {
    margin: 0 auto;
}

.services-descript-blocks>h3 {
    color: #121216;
    font-size: 15px;
    font-family: 'Freight Sans Bold';
}

.services-descript-blocks>p {
    font-size: 15px;
    color: #818182;
}

.caption-group-services {
    margin-top: 80px;
    padding: 0;
}

/******* END SECTION SERVICES **********/




/*******  SECTION CULTURE **********/


.bg-culture{
  background-image: url('../images/bg-culture.jpg');
  background-size: cover;
  position: relative;
  z-index: 9;
}

.container-fluid.section-culture {
    padding: 0;
    text-align: center;
}

.bg-culture>h1 {
    color: white;
    padding: 45px 30px;
    font-size: 24px;
    font-family: 'Freight Sans Light SC';
    margin-top: 0;
    margin-bottom: 0;
}


/******* END SECTION CULTURE **********/




/*******  SECTION ABILITIES **********/

.content-abilities>h1 {
    font-family: 'Freight Sans Bold';
    color: #000000;
}

.content-abilities>h1>span {
    font-family: 'Freight Sans Light SC';
}

.container-fluid.section-abilities {
    text-align: center;
}

.bg-skills{
  background-image: url('../images/bg-our-skills.jpg');
  background-size: cover;
}

.skilss {
  float: left;
  width: 100%;
}

/******* END SECTION ABILITIES **********/